<?xml version="1.0"?>
<appSettings>
  <!--
  right now the Secretary methods are written to only handle one phone number at a time.

  fairly plausible that one might want to handle multiple numbers, each with different settings. 
  to do this you could convert settings to dictionaries keyed to a target phone number rather than single values.
  i decided to wait until we actually needed this before doing it. 
  
  if/when I do it I will probably serialize dictionaries as querystrings, since HttpUtility.ParseQueryString() is already built in and handy.
  if you want to do it yourself and didn't know about that serialization option, now you do.
  -->

  <!-- twilio numbers have a particular formatting. for U.S. numbers it's +1nnn...  be sure to keep that +1 in the settings below  -->
  <!-- in all cases where there are lists of elements, those lists are comma separated -->

  <add key="SendGridUserName" value="your sg user name" />
  <add key="SendGridPassword" value="your sg password" />

  <add key="TwilioAccountSid" value="your twilio account sid" />
  <add key="TwilioAuthToken" value="your twilio auth token" />
  <!-- these two will probably be the same number -->
  <add key="TwilioSMSNumber" value="+13165551212" />
  <add key="TwilioVoiceNumber" value="+13165551212" />

  <add key="SMSBlacklist" value="" />
  <add key="EchoSMSMessagesTo" value="+13165550000" />
  <add key="SendSMSToEmail" value="your.favorite.email@example.com" />
  <add key="Email2SMSPassword" value="passed-in-the-clear-by-zapier" />
  <add key="WebhookedEmail" value="something.from@zapiermail.com" />

  <add key="AdminEmail" value="whoever.set.this.up@example.com" />

  <!-- first we block VoiceBlacklist, then we forward through anything matching VoiceWhitelistAreaCodes or VoiceWhitelist, 
    then we prompt caller for VoicePublicPasscode and only forward call through if they enter passcode correctly. -->
  <add key="VoiceBlacklist" value="" />
  <add key="VoiceWhitelistAreaCodes" value="+1316,+1785" />
  <add key="VoiceWhitelist" value="+18005551212,+18885551212" />
  <!-- intended to be shared freely (website, biz card) with any interested humans who are not already on the whitelist. -->
  <add key="VoicePublicPasscode" value="1234" />
  <add key="VoiceForwardCallsTo" value="+13165551111" />

</appSettings>
